body {
   margin: 0;
   padding: 0;
 
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
   color: #000000;
   text-transform: uppercase;

   background-color: #f2f2f2;
  }

a {
   text-decoration: none;
}

.main-navigation {
   line-height: 26px;
   color: #000000;

   background-color: #ffffff;
   }

 .site-navigation {
 list-style: none;
 }

.site-navigation a:not(.current-page) {
 color: #000000;
 }

.site-navigation a:hover:not(.current-page) {
  color: #81b3d2;
  }
.site-navigation a:focus:not(.current-page) {
 color: rgba(0, 0, 0, 0.3);
 }

.showcase {
  text-align: center;
 }
 

/* голубой фоновый цвет выходит за границы фоновой картинки*/
.welcome {
  margin: 0;
  padding: 0;
  background-color: #517ca4; 
  background-image: url("../img/background-photo.jpg");
  background-size: 1200px 773px;
  background-position: 50% 30%;
  background-repeat: no-repeat; 
}
  
  /*маска не отображается*/
  .welcome::after {
  content: " ";
  position: absolute;
  background-image: url("../img/intro-mask.svg");
  background-size: 1200px 59px;
  background-position: bottom center;
  background-repeat: no-repeat;  
}

.about b {
  font-size: 21px;
  line-height: 26px;

  color: #000000; 
}  

.about p {
    line-height: 26px;
    
  color: #333333; 
}

.search {
  text-align: center;
}

.search b {
  font-size: 30px;
  line-height: 36px;
 
  color: #000000; 
}

.search p {
  font-size: 14px;
  line-height: 24px;
 
  color: #333333; 
}


.features-list,
.suggestion-list {
  list-style: none;
  }

.search-form-container a {
  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
  background-color: #766357;
}


.appointment-btn,
.button-more-btn,
.button-reserve-btn {
  color: #ffffff;
   }


.button-reserve-btn {
  background-color: #766357;
   }

.search-form-container a:hover,
.button-reserve-btn:hover {
  background-color: #604e43;
    }

.search-form-container a:focus,
.button-reserve-btn:focus {
   background-color: #503e33;
   }

.appointment-btn,
.button-more-btn  {
  background-color: #81b3d2;
    }

.search-form-container a:focus,    
.appointment-btn:focus,
.button-more-btn:focus,
.button-reserve-btn:focus {
    color: rgba(255, 255, 255, 0.3);
    }

.appointment-btn:hover,
.button-more-btn:hover {
  background-color: #669ec0;
}

.appointment-btn:focus,
.button-more-btn:focus {
  background-color: #5496bd;
}

.hotel-container h3:hover {
  color: #81b3d2;
}

.hotel-container h3:focus {
  color: rgba(0, 0, 0, 0.3);
}

input {
  background-color: #f2f2f2;
}

input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
}

.main-footer {
  background-color: #ffffff;
}

.footer-instagram a {
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  color: #000000; 
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
}

.catalog {
  background-color: #ffffff;
}


.filters-list,
.hotel-catalog {
  list-style: none;
}

.hotel-title a {
  font-size: 21px;
  line-height: 26px;

  color: #000000; 
}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.current-page {
    color: #766357;
}

.hotel-type span,
.reserve span {
   color: #333333;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}

button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
} 

.filter-button {
 border: solid 2px #ffffff; 
 background-color: transparent;
}
.filter-button:hover {
  color: #000000;
  background-color: #ffffff;

  border: solid 2px #ffffff; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Сетка*/

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0;
  padding: 0;
 
  background-color: #f2f2f2;
 }

 .main-header-logo {
   display: block;
   position: absolute;
 }

 .site-navigation {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 1200px;
 list-style: none;
 margin: 0;
 padding: 0;

 background-color: #ffffff;
}

.site-navigation a {
   display: block;
   padding: 18px 72px;
}


.showcase {
   margin: 0;
   padding: 0;
   
}

  .showcase-container {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   align-items: center;
   width: 1200px;
   min-height: 773px;
}
 
.welcome {
   margin: 0;
   padding: 0 40px;
   width: 1200px;
   min-height: 501px;
   align-items: center;
  }

  .about {
   width: 1200px;
   min-height: 216px; 

   background-color: #ffffff;
  }

  .features {
   margin: 0;
   padding: 0;
     }

   .features-list {
      display:flex;
      margin: 0;
      padding: 0;
      width: 1200px;
      min-height: 775px;
   }

   .search {
    margin: 0;
    padding: 0; 
   }

   .search-container {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 1200px;
    min-height: 205px;

    background-color: #ffffff;
   }

   .map {
    display: block;
    width: 1200px;
    height: 593px;
    background-image: url("../img/map.png");
    background-size: 1200px 593px;
    background-position: top center;
    background-repeat: no-repeat;   
   }
   
   .main-footer {
    padding: 0;
    margin: 0;

    background-color: #ffffff;
   }

   .main-footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    min-height: 120px;

  }

  .filters {
    margin: 0;
    padding: 0;
  }

  .filters-container {
    display: flex;
    width: 1200px;
    min-height: 218px;
    margin: 0;
    padding: 0;

    background-image:  url("../img/filter-background.jpg");
    background-size: 1200px 773px;
    background-position: 50% 50%;
    background-repeat: no-repeat;   
   }

   /* не могу понять, почему .filters-infrastructure (инфраструктура) и  .filters-different (тип жилья) не на одной строке*/
     
   .filters-infrastructure {
     margin-left: 72px;
     padding: 0;
     width: 136px;
     list-style: none;

   }

   .filters-infrastructure fieldset,
   .filters-different fieldset{
    border: none;
  }

  .filters-different {
    margin-left: 115px;
    padding: 0;
    width: 136px;
    list-style: none;
  }

  .catalog {
    margin: 0;
    padding: 0;
  }

  .sorting {
  margin: 0;
  padding: 0;
 }

 .sorting-container {
   display: flex;
   width: 1200px;
   min-height: 86px;
   margin: 0;
   padding: 0;

   background-color: #ffffff;
 }

 .catalog-container {
  display: flex;
  width: 1200px;
  min-height: 454px;

}


 

   
   
  

  
  

  




 





